<div class="row">
  <div class="col-4-4">
    <div class="car-pane element-pane">
      <div style="display: none;" class="data-pane">
        <input type="hidden" name="id" value="{{id}}">
        <input type="hidden" name="type" value="{{type}}">
      </div>
      <div class="row">
        <div class="col-4-4 car-name">
          <h4>
            <i class="fa fa-car" draggable="true"></i> {{name}} ({{persons.length}}/{{capacity}}) <i class="fa fa-times pull-right remove-button" data-on-click="ev/delete-from-scenario"></i>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-4-4 car-content">
          <div class="row">
            <div class="col-4-4 car-set-content">
              <div class="row">
                <div class="col-4-4 car-persons">
                  {{#each persons}}
                    {{> person this}}
                  {{/each}}
                </div>
              </div>
              <div class="row">
                <div class="col-4-4">
                  <div class="placeholder" data-accepted-drops="person">
                    <img src="/img/person.png" class="placeholder-image">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>